body {
  background-image: url("../src/images/fast-fingers-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
}
body div {
  font-family: Breamcatcher;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ff5155;
  width: auto;
  overflow: hidden;
  padding: 1px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
